global:
  sendAnonymousUsage: false

log:
  level: INFO

api: true

providers:
  docker:
    exposedByDefault: false
    network: traefik
  file:
    directory: /etc/traefik/dynamic

entryPoints:
  http:
    address: ":80"
    # Enable auto redirection from http to https.
    http:
      redirections:
        entryPoint:
          to: https
          scheme: https
  https:
    address: ":443"
    http:
      tls:
        certResolver: default

certificatesResolvers:
  default:
    acme:
      # Your Let's Ecrypt email.
      email: me@example.com
      storage: /etc/traefik/acme.json
      tlsChallenge: true
#
# Provide your own certificate.
# tls:
#   certificates:
#     - certFile: "/etc/traefik/certs/cert.pem"
#       keyFile: "/etc/traefik/certs/key.pem"
